<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjq.chatbot.mapper.SessionMapper">

    <insert id="insert" parameterType="com.zjq.chatbot.entity.SessionEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sessions
            (id, anon_id, title, channel)
        VALUES
            (#{id}, #{anonId}, #{title}, #{channel})
    </insert>

    <select id="getById" resultType="com.zjq.chatbot.entity.SessionEntity">
        SELECT id, anon_id, title, channel, message_count, last_message_at, created_at, updated_at
        FROM sessions
        WHERE id = #{id}
    </select>


</mapper>