<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjq.chatbot.mapper.SessionMapper">

    <insert id="insert"
            parameterType="com.zjq.chatbot.entity.SessionEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sessions
            (anon_id, title, channel)
        VALUES
            (#{anonId}, #{title}, #{channel})
    </insert>


</mapper>