<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjq.chatbot.mapper.UserMapper">

    <select id="findByUsername" resultType="com.zjq.chatbot.entity.UserEntity">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username, password, role, status, created_at, updated_at)
        VALUES(#{username}, #{password}, #{role}, #{status}, #{createdAt}, #{updatedAt})
    </insert>

</mapper>